/*header*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  padding: 16px 0;
  transition: max-width 0.3s;
  &-anchor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100vw;
    pointer-events: none;
    height: 0;
    .admin-bar & {
      top: 32px;
    }
    .home & {
      top: calc(100vh - 68px - 30px);
    }
  }
  .admin-bar & {
    top: 32px;
    padding: 16px 0;
  }
  .home & {
    top: calc(100vh - 68px - 30px);
    max-width: 94vw;
    margin: 0 auto;
    border-radius: 10px;
    background: $color_dark;
  }
  &.fixed {
    top: 0!important;
    max-width: 100%!important;
    position: fixed;
    transition: max-width 0.3s;
    border-radius: 0px;
    background: $color_dark;
  }
}


.h {
  &-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &-menu_btn {
    width: 40px;
    padding: 0;
    border: 0;
    background: none;
    &-wrap {
      padding: 0 32px;
      flex: 1;
    }
    span {
      height: 1px;
      width: 100%;
      display: block;
      background: $color_white;
      &:nth-child(2) {
        margin: 5px 0;
      }
    }
  }
  &-right {
    display: flex;
    flex-wrap: wrap;
  }
  &-menu {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        padding: 0 25px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        a {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }
  &-rdv {
    padding-left: 50px;
    position: relative;
    button {
      background: none;
      border: none;
      padding: 0;
      display: flex;
      align-items: center;
      .txt {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
      .icon {
        border-radius: 4px;
        width: 26px;
        height: 26px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $color_white;
      }
    }
    &-list {
      position: absolute;
      z-index: 2;
      top: 100%;
      padding-top: 20px;
      width: 248px;
      right: -42px;
      opacity: 0;
      pointer-events: none;
      transition: 0.3s;
      ul {
        border-radius: 10px;
        border: 1px solid $color_white;
        background: rgba(11, 31, 48, 0.70);
        backdrop-filter: blur(14px);
        padding: 12px 30px;
      }
    }
  }
  &-esp {
    padding-left: 50px;
    button {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      background: none;
      border: none;
      padding: 0;
    }
  }
}

/*header*/

/*fixed_data*/
.fix_data {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 16px 0 61px;
  transition: 0.3s;
  &.active {
    top: 0;
    transition: 0.3s;
  }
  &-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background: linear-gradient(180deg,#0b1f30 0%,rgba(11,31,48,.85) 50.52%,#0b1f30 100%);
    backdrop-filter: blur(6px);
  }
  &-container {
    position: relative;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }
  &-menu {
    padding-top: 7vw;
    ul {
      display: flex;
      margin: 0 -15px 30px;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        padding: 0 15px 30px;
        width: 25%;
        a {
          border-radius: 10px;
          border-top: 1px solid #F3F6F9;
          border-bottom: 1px solid #F3F6F9;
          background: rgba(232, 238, 244, 0.06);
          backdrop-filter: blur(14px);
          padding: 20px;
          display: block;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          &:hover {
            background: rgba(232, 238, 244, 0.27);
            backdrop-filter: blur(14px);
          }
        }
        &.menu-item-has-children {
          width: calc(100% - 30px);
          margin-left: 15px;
          border-radius: 10px;
          border-top: 1px solid #F3F6F9;
          border-bottom: 1px solid #F3F6F9;
          background: rgba(232, 238, 244, 0.06);
          backdrop-filter: blur(14px);
          padding: 20px 20px 0;
          a {
            border: 0;
            background: none;
            padding: 0;
            backdrop-filter: none;
            margin-bottom: 20px;
            &:hover {
              background: none;
              backdrop-filter: none;
            }
          }
          .sub-menu {
            margin-bottom: 0;
            li {
              padding-bottom: 20px;
              a {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
  &-contacts {
    padding-bottom: 60px;
    .main-contacts-bl {
      min-height: 25vw;
    }
  }
}
/*fixed_data*/

/*main*/
.main {
  &-first {
    position: relative;
    z-index: 1;
    height: 100vh;
    min-height: 400px;
    &-video {
      position: relative;
      min-height: 100vh;
      border-radius: 0px 0px 30px 30px;
      overflow: hidden;
      video {
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        object-fit: cover;
      }
    }
    &-logo {
      z-index: 3;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }
  }

  &-second {
    margin-top: 7vw;
    background-size: cover;
    background-position: center left;
    &-bl {
      padding: 11vw 0 6vw;
    }
    &-ttl {
      margin-bottom: 10px;
      font-size: 60px;
      font-weight: 600;
      line-height: 70px;
      letter-spacing: 1.2px;
    }
    &-subttl {
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: 44px;
      letter-spacing: 0.72px;
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    &-txt {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 6px;
    }
    &-btn {
      text-align: center;
    }
  }
  &-values {
    padding-top: 4vw;
    &-ttl {
      margin-bottom: 40px;
    }
    &-wrap {
      position: relative;
    }
    &-back {
      position: relative;
      z-index: 1;
    }
    &-row {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      min-height: 100%;
    }
    &-bl {
      width: calc(100% / 3);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: 30vw;
      height: 100%;
      position: relative;
      padding: 3.4vw 6.8vw;
      &-bg {
        position: absolute;
        z-index: 1;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        top: 20px;
        left: 20px;
        background-repeat: no-repeat;
        border-radius: 40px;
        overflow: hidden;
        background-size: cover;
        opacity: 0;
        transition: 0.3s;
      }
      &-img {
        margin-bottom: 1vw;
        position: relative;
        z-index: 2;
      }
      &-ttl {
        margin-bottom: 1vw;
        font-size: 1.8vw;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.72px;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
      }
      &-txt {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        position: relative;
        z-index: 2;
      }
      &:nth-child(2) {
        justify-content: flex-start;
        .main-values-bl {
          &-img {
            order: 3;
            margin-bottom: 0;
          }
          &-ttl {
            order: 1;
          }
          &-txt {
            order: 2;
            margin-bottom: 1vw;
          }
        }
      }
      &:hover {
        .main-values-bl-bg {
          opacity: 1;
          transition: 0.3s;
        }
      }
    }
  }

  &-team {
    margin-top: 7vw;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    .section-lines {
      border-bottom: 0;
    }

    &-bl {
      border-top: 1px solid $color_white;
      border-bottom: 1px solid $color_white;
      border-radius: 20px;
      background: rgba(232, 238, 244, 0.02);
      margin-top: 31vw;
      padding: 34px 0;
      backdrop-filter: blur(19px);
    }
    &-ttl {
      margin-bottom: 30px;
      max-width: 490px;
    }
    &-txt {
      max-width: 490px;
    }
    &-btn {
      text-align: center;
    }
  }

  &-traits {
    margin-top: 7vw;
    .section-in {
      padding: 2vw 0;
    }
    &-ttl {
      margin-bottom: 2vw;
    }
    &-img {
      position: absolute;
      width: 53vw;
      top: 0;
      right: 0;
      &-wrap {
        height: 36.5vw;
        position: relative;
      }
    }

    &-bl {
      &-hidden {
        max-height: 0;
        overflow: hidden;
        transition: 0.3s;
      }
      &-txt {
        margin-bottom: 20px;
      }
      &-btn {
        a {
          border-radius: 10px;
          border: 1px solid $color_white;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 60px;
          &:hover {
            background: $color_white;
            svg {
              path {
                stroke: $color_dark;
              }
            }
          }
        }
      }

      &:hover {
        .main-traits-bl {
          &-hidden {
            max-height: 400px;
            overflow: hidden;
            transition: 0.3s;
            padding: 10px 0 50px;
          }
        }
      }

    }
  }

  &-insta {
    margin-top: 7vw;
    padding: 2vw 0;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="945" height="1265" fill="none"><g clip-path="url(%23a)"><g filter="url(%23b)" opacity=".17"><ellipse cx="456.5" cy="450.5" fill="%236AAEED" rx="456.5" ry="450.5" transform="matrix(-1 0 0 1 1291 69)"/></g><g filter="url(%23c)" opacity=".12"><ellipse cx="289.5" cy="273" fill="%23E43CBF" rx="289.5" ry="273" transform="matrix(-1 0 0 1 1234 520)"/></g></g><defs><filter id="b" width="1513" height="1501" x="78" y="-231" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_2684_2158" stdDeviation="150"/></filter><filter id="c" width="1179" height="1146" x="355" y="220" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_2684_2158" stdDeviation="150"/></filter><clipPath id="a"><path fill="%23fff" d="M0 0h945v1265H0z"/></clipPath></defs></svg>');
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: 36vw auto;
    background-color: $color_darkest;
    &-ttl {
      margin-bottom: 40px;
    }
  }


  &-faq {
    margin-top: 7vw;
    background-size: cover;
    background-position: center left;
    position: relative;
    .main-insta + & {
      margin-top: 0;
    }
    &-overlay {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #071521 0%, rgba(7, 21, 33, 0.94) 8.23%, rgba(7, 21, 33, 0.84) 16.23%, rgba(7, 21, 33, 0.00) 67.06%), linear-gradient(0deg, #032032 0%, rgba(3, 32, 50, 0.00) 69.5%);
    }
    .section-in {
      position: relative;
      z-index: 2;
    }
    &-bl {
      padding: 11vw 0 6vw;
    }
    &-ttl {
      margin-bottom: 10px;
    }
    &-txt {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 6px;
    }
    &-btn {
      text-align: center;
    }
  }

  &-contacts {
    padding-top: 4vw;
    &-ttl {
      margin-bottom: 40px;
    }
    &-wrap {
      position: relative;
    }
    &-back {
      position: relative;
      z-index: 1;
    }
    &-row {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      min-height: 100%;
    }
    &-bl {
      width: calc(100% / 3);
      display: flex;
      flex-direction: column;
      min-height: 30vw;
      padding: 3.4vw 6.8vw;
      position: relative;
      &-bg {
        position: absolute;
        z-index: 1;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        top: 20px;
        left: 20px;
        background-repeat: no-repeat;
        border-radius: 40px;
        overflow: hidden;
        background-size: cover;
      }
      &-img {
        margin-bottom: 1vw;
        position: relative;
        z-index: 2;
      }
      &-ttl {
        margin-bottom: 1vw;
        font-size: 1.8vw;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.72px;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
      }
      &-txt {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        position: relative;
        z-index: 2;
      }
      &-item {
        margin-bottom: 20px;
        position: relative;
        z-index: 2;
        a, span {
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
        }
        a:hover {
          opacity: 0.6;
        }
      }
      &-btn {
        display: flex;
        flex: 1;
        align-items: flex-end;
        padding-top: 30px;
        position: relative;
        z-index: 2;
        .btn {
          width: 230px;
          max-width: 100%;
          padding: 15px 20px;
          min-height: 110px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &:nth-child(1) {
        .main-contacts-bl {
          &-btn {
            justify-content: flex-end;
          }
        }
      }
      &:nth-child(2) {
        .main-contacts-bl {
          &-btn {
            justify-content: center;
          }
        }
      }
    }
  }

  &-schedule {
    padding: 50px 0;
    &-ttl {
      margin-bottom: 20px;
    }
    &-row {
      display: flex;
      flex-wrap: wrap;
    }
    &-bl {
      width: calc(100% / 6);
      &-day {
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        padding-bottom: 7px;
        margin-bottom: 7px;
        border-bottom: 1px solid $color_gray;
        color: $color_gray;
      }
      &-time {
        color: $color_gray;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }

      &.current {
        .main-schedule-bl {
          &-day {
            color: $color_white;
            border-color: $color_white;
          }
          &-time {
            color: $color_white;
          }
        }
      }
    }

  }
}
/*main*/

/*page-team*/
.post-type-archive-equipe {
  background: $color_darkest;
  .header.fixed {
    background: $color_darkest;
  }
}
.page-team {
  &-section {
    margin-bottom: 60px;
    .section-in {
      padding: 2vw 0;
    }
  }
  &-subttl {
    margin-bottom: 2vw;
  }

}

.team {
  &-slider {
    &-pagination {
      margin-top: 40px;
      border-radius: 10px;
      border: 1px solid $color_white;
      background: rgba(232, 238, 244, 0.06);
      backdrop-filter: blur(14px);
      max-width: 360px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-counter {
        display: flex;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        align-items: center;
        padding: 10px;
        .sep {
          margin: 0 12px;
          width: 51px;
          height: 1px;
          background: $color_white;
        }
      }
      &-arrows {
        display: flex;
        .slider__arrows {
          padding: 10px;
          border: 1px solid rgba(255, 255, 255, 0);
          border-radius: 0px;
          cursor: pointer;
          overflow: hidden;
          transition: 0.3s;
          &:hover {
            border-color: rgba(255, 255, 255, 1);
            border-radius: 10px;
            transition: 0.3s;
          }
          &.next__arrows {
            margin-left: 16px;
            &:hover {
              svg {
                animation: aniArrow2 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
              }
            }
          }
          &.prev__arrows {
            margin-right: 16px;
            &:hover {
              svg {
                animation: aniArrow 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
              }
            }
          }
        }
      }
    }
  }
  &-bl {
    width: 100%;
    max-width: 383px;
    &-img {
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 14px;
      img {
        position: relative;
        z-index: 1;
      }
      &-btn {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: 1px solid $color_white;
        opacity: 0;
        transition: 0.3s;
        .btn {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 230px;
          max-width: 100%;
        }
      }
      &:hover {
        .team-bl-img {
          &-btn {
            opacity: 1;
            transition: 0.3s;
          }
        }
      }
    }

    &-info {
      display: flex;
      align-items: flex-start;
    }
    &-rdv {
      border-radius: 10px;
      border: 1px solid $color_white;
      padding: 20px;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      &:hover {
        background: $color_white;
        color: $color_dark;
      }
    }
    &-right {
      padding: 0 20px;
    }
    &-ttl {
      display: block;
      margin-bottom: 4px;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      padding-right: 20px;
    }
    &-job {
      display: block;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      padding-right: 20px;
    }
    &.level1 {
      .team-bl {
        &-img {
          margin-bottom: 24px;
        }
        &-ttl {
          max-width: 170px;
          font-size: 26px;
          font-weight: 500;
          line-height: 34px;
          margin-bottom: 10px;
          padding-right: 0;
        }
        &-job {
          font-size: 16px;
          line-height: 24px;
          max-width: 200px;
          padding-right: 0;
        }
      }
    }

  }
}
@keyframes aniArrow {
  0% {
    transform: translateX(35px);
  }
  100% {
    transform: translateX(-35px);
  }
}
@keyframes aniArrow2 {
  0% {
    transform: translateX(-35px);
  }
  100% {
    transform: translateX(35px);
  }
}
/*page-team*/

/*single-team*/

.single-equipe {
  background: $color_darkest;
  .header.fixed {
    background: $color_darkest;
  }
}
.single-team {
  &-data {
    margin-bottom: 40px;
    &-row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 calc(var(--bs-gutter-x,.75rem) * -1);
      &-left {
        padding: 0 var(--bs-gutter-x,.75rem);
        margin-bottom: 40px;
        max-width: 626px;
        width: 100%;
      }
      &-right {
        padding: 0 var(--bs-gutter-x,.75rem);
        margin-bottom: 40px;
        max-width: 526px;
        width: 100%;
      }
    }
    &.second {
      margin-top: -340px;
      .single-team-data {
        &-row {
          justify-content: space-between;
          align-items: flex-end;
          &-left {
            max-width: 514px;
          }
          &-right {
            max-width: 644px;
          }
        }
      }
    }
    &.third {
      .single-team-data {
        &-row {
          &-left {
            max-width: 935px;
          }
          &-right {
            max-width: 501px;
          }
        }
      }
    }
  }
  &-info {
    margin-bottom: 60px;
    .section-in {
      padding: 40px 0;
    }
    &-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &-left {
        max-width: 748px;
        width: 100%;
      }
      &-right {
        width: 100%;
        max-width: 580px;
        height: 384px;
        position: relative;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: auto;
          max-width: 37.3vw;
        }
      }
    }
  }
}
/*single-team*/

/*tax-trait*/
.tax-traitement {
  background: $color_darkest;
  .header.fixed {
    background: $color_darkest;
  }
}
.tax-trait {
  &-top {
    border-bottom: 1px solid $color_white;
    border-radius: 20px;
    padding-bottom: 80px;
    margin-bottom: 80px;
    .section-in {
      padding: 10vw 0 4vw;
    }
  }

  &-ttl {
    max-width: 490px;
    margin-bottom: 40px;
  }
  &-content {
    max-width: 490px;
  }

  &-team {
    margin-bottom: 80px;
  }


  &-crs {
    &-ttl {
      margin-bottom: 40px;
    }
    &-wrap {
      position: relative;
    }
    &-back {
      position: relative;
      z-index: 1;
    }
    &-row {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    &-bl {
      width: calc(100% / 3);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: 30vw;
      padding: 3.4vw 6.8vw;
      &-img {
        margin-bottom: 1vw;
      }
      &-ttl {
        margin-bottom: 1vw;
        font-size: 1.8vw;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.72px;
        text-transform: uppercase;
      }
      &-txt {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
      &:nth-child(2) {
        justify-content: flex-start;
        .tax-trait-crs-bl {
          &-img {
            order: 3;
            margin-bottom: 0;
          }
          &-ttl {
            order: 1;
          }
          &-txt {
            order: 2;
            margin-bottom: 1vw;
          }
        }
      }
    }
  }

  &-clin {
    padding: 60px 0;
    &-ttl {
      margin-bottom: 40px;
    }
    &-txt {
      margin-bottom: 160px;
    }
    &-btn {
      text-align: right;
    }
    &-img {
      display: inline-block;
      overflow: hidden;
      border-radius: 20px;
    }
  }

  &-posts {
    border-top: 1px solid $color_white;
    border-bottom: 1px solid $color_white;
    border-radius: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    .section-in {
      padding: 2vw 0;
    }
    &-ttl {
      margin-bottom: 2vw;
    }
    &-bl {
      position: relative;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
      &-img {
        position: relative;
        z-index: 1;
        border-radius: 20px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      &-data {
        position: absolute;
        bottom: 30px;
        z-index: 2;
        max-width: 750px;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-radius: 10px;
        border: 1px solid $color_white;
        background: rgba(232, 238, 244, 0.06);
        backdrop-filter: blur(14px);
        padding: 30px;
      }
      &-ttl {
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
        margin-bottom: 10px;
      }
      &-txt {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 30px;
      }
      &-btn {
        a {
          padding: 20px;
          display: inline-block;
          border-radius: 10px;
          border: 1px solid $color_white;
        }
      }
    }
  }

  &-mainp {
    border-top: 1px solid $color_white;
    border-radius: 20px;
    padding-top: 80px;
    .main-faq {
      margin-top: 0;
    }
  }
}
/*tax-trait*/

/*arch-clin*/
.post-type-archive-cas-cliniques {
  background: $color_darkest;
  .header.fixed {
    background: $color_darkest;
  }
}
.arch-clin {
  &-wrap {
    margin-bottom: 60px;
    .section-in {
      padding: 2vw 0;
    }
  }
  &-row {
    display: flex;
    flex-wrap: wrap;
  }
  &-col1 {
    padding-left: 7vw;
    padding-right: 15px;
    width: 100%;
    max-width: calc(230px + 15px + 7vw);
  }
  &-col2 {
    width: 100%;
    max-width: calc(100% - 230px - 15px - 7vw);
    padding-left: 10.5vw;
  }
  &-terms {
    width: 100%;
    ul {
      li {
        margin-bottom: 10px;
        button {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          width: 100%;
          display: block;
          padding: 16px 20px;
          border-radius: 10px;
          border: 1px solid #142738;
          background: transparent;
          text-align: left;
          &.active {
            border: 1px solid $color_white;
            background: rgba(232, 238, 244, 0.06);
            padding: 30px 20px;
          }
        }
      }
    }
  }
  &-posts {
    &-row {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2.5vw;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-bl {
      width: 100%;
      max-width: 19vw;
      &-ttl {
        margin-bottom: 20px;
      }
      &-tags {
        display: flex;
        flex-wrap: wrap;
        margin: -6px;
        span {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          border-bottom: 1px solid #142738;
          padding: 0 6px 6px;
          margin-bottom: 12px;
          text-transform: uppercase;
        }
      }
    }
    &-imgs {
      width: 100%;
      max-width: calc(100% - 19vw);
      padding-left: 30px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
    &-img {
      width: 100%;
      max-width: calc(50% - 5px);
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      &:first-child {
        margin-right: 5px;
      }
      &:last-child {
        margin-left: 5px;
      }
      span {
        position: absolute;
        z-index: 2;
        bottom: 20px;
        left: 20px;
        padding: 9px 20px;
        border-radius: 10px;
        border: 1px solid $color_white;
        background: rgba(232, 238, 244, 0.18);
        backdrop-filter: blur(14px);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
      }
      img {
        position: relative;
        z-index: 1;
      }
    }
  }
}
/*arch-clin*/

/*arch-faq*/
.arch-faq {
  &-top-data {
    display: flex;
  }
  &-srch {
    position: relative;
    padding-left: 15px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    input {
      position: relative;
      z-index: 1;
      background: none;
      border: 0;
      width: 100%;
      max-width: 748px;
      border-bottom: 1px solid $color_white;
      border-radius: 0;
      padding: 0 0 12px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
    button {
      position: absolute;
      right: 0;
      background: none;
      border: 0;
      padding: 0;
      z-index: 2;
    }
  }
  &-cats {
    ul {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;

      li {
        padding-right: 50px;
        margin-bottom: 10px;
        &:last-child {
          padding-right: 0;
        }
        button {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          color: #9FAAB5;
          background: none;
          border: 0;
          padding: 0 0 8px;
          &.active {
            padding-bottom: 7px;
            border-bottom: 1px solid $color_white;
            font-weight: 600;
            color: $color_white;
          }
          &:hover {
            color: $color_white;
          }
        }
      }
    }

  }
  &-posts {
    &-bl {
      position: relative;
      margin-bottom: 30px;
      &-img {
        position: relative;
        z-index: 1;
      }
      &-data {
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &-cat {
        padding: 10px 24px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        color: #222;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.46);
        display: inline-block;
      }
      &-in {
        border-radius: 10px;
        border-top: 1px solid var(--Light-gray, #F3F6F9);
        border-bottom: 1px solid var(--Light-gray, #F3F6F9);
        background: rgba(232, 238, 244, 0.02);
        backdrop-filter: blur(14px);
        padding: 20px;
      }
      &-ttl {
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
      }
      &-btn {
        margin-top: 0;
        overflow: hidden;
        max-height: 0;
        transition: 0.3s;
      }
      &:hover {
        .arch-faq-posts-bl {
          &-btn {
            max-height: 132px;
            margin-top: 40px;
            transition: 0.3s;
          }
        }
      }
    }
  }
}
/*arch-faq*/

/*arch-articles*/
.post-type-archive-articles {
  background: $color_darkest;
  .header.fixed {
    background: $color_darkest;
  }
}
.arch-articles {
  &-cats {
    ul {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;

      li {
        padding-right: 50px;
        margin-bottom: 10px;
        &:last-child {
          padding-right: 0;
        }
        button {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          color: #9FAAB5;
          background: none;
          border: 0;
          padding: 0 0 8px;
          &.active {
            padding-bottom: 7px;
            border-bottom: 1px solid $color_white;
            font-weight: 600;
            color: $color_white;
          }
          &:hover {
            color: $color_white;
          }
        }
      }
    }
  }
  &-posts {
    &-bl {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;
      &-ttl {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        padding: 10px 20px 0 0;
        flex: 1;
      }
      &-btn {
        padding-top: 10px;
        opacity: 0;
        transition: 0.3s;
        a {
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0.3px;
          text-transform: uppercase;
        }
      }
      &:hover {
        .arch-articles-posts-bl {
          &-btn {
            opacity: 1;
            transition: 0.3s;
          }
        }
      }
    }
  }
}
/*arch-articles*/

/*page-cabin*/
.page-cabin {
  &-conf {
    margin-bottom: 80px;
    .section-in {
      padding: 2vw 0;
    }
    &-img {
      position: absolute;
      width: 53vw;
      top: 0;
      right: 0;
      &-wrap {
        height: 17.7vw;
        position: relative;
      }
    }
    &-ttl {
      margin-bottom: 40px;
    }

    &-txt {
      margin-bottom: 40px;
    }

    &-bl {
      padding-top: 4vw;
    }
  }
  &-gal {
    margin-bottom: 80px;
    .section-in {
      padding: 2vw 0;
    }
    &-ttl {
      margin-bottom: 40px;
    }
    &-row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
    }
    &-col {
      padding: 0 15px 40px;
    }
    &-bl {
      &-ttl {
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
        padding-left: 7vw;
      }
      &-txt {
        position: absolute;
        z-index: 2;
        opacity: 0;
        width: 100%;
        height: 100%;
        background: rgba(3, 32, 50, 0.7);
        top: 0;
        left: 0;
        transition: 0.3s;
        &-in {
          position: absolute;
          border-radius: 10px;
          border-top: 1px solid $color_white;
          border-bottom: 1px solid $color_white;
          background: rgba(232, 238, 244, 0.02);
          backdrop-filter: blur(14px);
          width: calc(100% - 90px);
          height: calc(100% - 80px);
          top: 40px;
          left: 45px;
          display: flex;
          align-items: center;
          padding: 20px;
        }
      }
      &-img {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 30px;
        img {
          position: relative;
          z-index: 1;
        }
        &:hover {
          .page-cabin-gal-bl {
            &-txt {
              opacity: 1;
              transition: 0.3s;
            }
          }
        }
      }
    }
  }

}
/*page-cabin*/

/*page-labo*/
.page-labo {
  &-info {
    margin-bottom: 80px;
    .section-in {
      padding: 2vw 0;
    }
    &-ttl {
      margin-bottom: 40px;
    }

    &-txt {
      margin-bottom: 40px;
    }

    &-bl {
      padding-top: 4vw;
    }
  }
  &-clin {
    margin-bottom: 80px;
    .section-in {
      padding: 2vw 0;
    }
    &-ttl {
      margin-bottom: 40px;
    }
    &-bl {
      &-ttl {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        border-radius: 10px;
        border: 1px solid $color_white;
        background: rgba(232, 238, 244, 0.06);
        backdrop-filter: blur(14px);
        padding: 20px;
        margin-bottom: 24px;
      }
      &-img {
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        &:first-child {
          margin-bottom: 10px;
        }
        span {
          position: absolute;
          z-index: 2;
          bottom: 20px;
          left: 20px;
          padding: 9px 20px;
          border-radius: 10px;
          border: 1px solid $color_white;
          background: rgba(232, 238, 244, 0.18);
          backdrop-filter: blur(14px);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
        }
        img {
          position: relative;
          z-index: 1;
        }
      }
    }
  }

}
/*page-labo*/

/*single_page*/
.single_page {
  .container {
    max-width: 1010px;
  }
  &-img {
    margin-bottom: 40px;
  }
  &-content {
    margin-bottom: 40px;
  }
}
/*single_page*/

/*footer*/
.footer {
  padding-top: 11vw;
  position: relative;
  .container {
    position: relative;
    z-index: 2;
  }
}

.f {
  &-logo {
    margin-bottom: 60px;
    display: block;
  }

  &-menu {
    margin-bottom: 48px;
    &-ttl {
      margin-bottom: 10px;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }
    ul {
      li {
        margin-bottom: 12px;
      }
    }
  }
  &-btn {
    margin-bottom: 60px;
    a {
      background: rgba(232, 238, 244, 0.06);
      backdrop-filter: blur(14px);
      border-top: 1px solid $color_white;
      border-bottom: 1px solid $color_white;
      border-radius: 10px;
      padding: 35px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      span {
        transition: 0.3s;
      }
      svg {
        margin-left: 10px;
        path {
          transition: 0.3s;
        }
      }
      &:hover {
        background: rgba(232, 238, 244, 0.27);
      }
    }
  }
  &-btm {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 20px;
    &_2 {
      text-align: center;
    }
    &_3 {
      text-align: right;
    }
  }

  &-grad {
    width: 65vw;
    height: 45vw;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1211" height="871" fill="none"><g clip-path="url(%23a)"><g filter="url(%23b)" opacity=".08"><ellipse cx="1004.5" cy="745.5" fill="%236AAEED" rx="448.5" ry="442.5"/></g><g filter="url(%23c)" opacity=".08"><ellipse cx="845.5" cy="871" fill="%23E43CBF" rx="289.5" ry="273"/></g></g><defs><filter id="b" width="1497" height="1485" x="256" y="3" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_3375_1125" stdDeviation="150"/></filter><filter id="c" width="1179" height="1146" x="256" y="298" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_3375_1125" stdDeviation="150"/></filter><clipPath id="a"><path fill="%23fff" d="M0 0h1211v871H0z"/></clipPath></defs></svg>');
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-size: cover;
  }
}
/*footer*/